{% extends 'base.html' %}

{% block content %}
<div class="bg-slate-300">
  <div class="grid grid-cols-8 grid-rows-8 gap-6">
    <div
      class="text-center pb-6 bg-slate-700 p-2.5 mt-4 row-start-1 row-span-6 lg:col-start-3 lg:col-span-4 sm:col-start-2 sm:col-span-6 col-start-1 col-span-8 rounded-xl"
    >
      <h1 class="text-4xl pb-4 font-bold text-slate-200">
        Job application Form
      </h1>
      <div>
        <form method="post" class="grid gap-6 text-left text-3xl text-slate-200">
          {% csrf_token %}
          <label for="first_name">First Name:</label>
          <input
            class="mx-8 text-slate-900"
            type="text"
            id="first_name"
            name="first_name"
            required
          />
          <label for="last_name">Last Name:</label>
          <input
            class="mx-8 text-slate-900"
            type="text"
            id="last_name"
            name="last_name"
            required
          />
          <label for="email">Email:</label>
          <input
            class="mx-8 text-slate-900"
            type="email"
            id="email"
            name="email"
            required
          />

          <label for="date">Available start date:</label>
          <input
            class="mx-8 text-slate-900"
            type="date"
            id="date"
            name="date"
            required
          />
          <label for="">Current occupation:</label>
          
          <div id="occupation">
            <div class="flex justify-self-start">
              <input
                class="mt-2 mx-4 size-6 text-slate-900"
                type="radio"
                id="employed"
                name="occupation"
                value="employed"
                
              />
              <label for="employed">Employed</label>
            </div>
            <div class="flex justify-self-start">
              <input
                class="mt-2 mx-4 size-6 text-slate-900"
                type="radio"
                id="unemployed"
                name="occupation"
                value="unemployed"
                
              />
              <label for="unemployed">Unemployed</label>
            </div>
            <div class="flex justify-self-start">
              <input
                class="mt-2 mx-4 size-6 text-slate-900"
                type="radio"
                id="self_employed"
                name="occupation"
                value="self_employed"
                
              />
              <label for="self_employed">Self-employed</label>
            </div>
            <div class="flex justify-self-start">
              <input
                class="mt-2 mx-4 size-6 text-slate-900"
                type="radio"
                id="student"
                name="occupation"
                value="occupation"
                
              />
              <label for="student">Student</label>
            </div>
        </div>

        <button class="mx-4 bg-yellow-600 hover:bg-yellow-700 text-slate-900 font-bold py-2 px-4 rounded flex justify-self-start">
          Submit
        </button>
      </div>
      
      {% if messages %}
      <div class="flex justify-center bg-yellow-900 text-slate-200 mx-1 rounded-md mt-3" >
        {% for message in messages %}
        {{ message }}
        {% endfor %}
      </div>
      {% endif %}
      
        
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}

